extends layout

block content
  main.container.pt-5
  h1= title
  p Welcome to #{title}

  h2.pt-3 Todo
  ul
    li Home, updated route för att byta username / password 
    li fixa title, navsidor och active page
    li Register route, felmeddelanden 
    li Nav och meny, inte visa logout/home för den som inte är inloggad
    li style 
    li tester 
    li frontend validation / 
      a(href='https://getbootstrap.com/docs/5.0/forms/validation/') bootstrap
    li felmedelanden, toasts / 
      a(href='https://getbootstrap.com/docs/5.0/components/alerts/') alerts